.App
  height: 100%
  width: 100%

  div.title

    position: relative
    z-index: 1

    h1

      font-family: 'caf_franoiseregular'
      text-align: center
      font-size: 8vw
      text-shadow: 1px 0 8px #000
      letter-spacing: 10px
      font-weight: 400
      color: #ffe8af
    
  img

    position: absolute
    top: 0
    left: 0
    min-width: 99%
    opacity: 0.75
    width: 100%
    pointer-events: none